<!--
including header content which is common for all pages
-->
<%- include ../layouts/header.ejs %>	
<header>
	<nav class="nav-area">
		<li><a href="/admin/admin_home">Home</a></li>|  
  <% if(action === 'song') {%>
	  <li>Add Song</li>
  <% } else {%>
	  <li>Add Plan</li>
	  <% } %>	
  </nav>
</header>
<% if (messages.error) { %>
	<p style="color:red"><%- messages.error %></p>
<% } %>

<% if (messages.success) { %>
	<p style="color:green"><%- messages.success %></p>
<% } %>
<div class="container-add">
	<div class="card-add">
			<form action="/admin/add/<%= action %>" method="post" name="form1" class="card-form">
				<% if(action=='song') {%>
				<div class="div-1">
				<div class="input">
				<input name="name" class="input-field" type="text" value="<%= name%>"required/>
				<label class="input-label"> Song Name </label>
				</div>
				<div class="input">
					<input name="type" class="input-field" type="text" value="<%= type%>" required/>
					<label class="input-label"> Song Type </label>
				</div>
				<div class="input">
					<input name="link" class="input-field" type="text" value="<%= link%>" required/>
						<label class="input-label"> Song Link </label>
				</div>	
				</div>
				<div class="div-2">
				<div class="input">
					<input name="img" class="input-field" type="text" value="<%= img%>"required/>
					<label class="input-label"> Image </label>
					</div>
				<div class="input">
					<input name="genre" class="input-field" type="text" value="<%= genre%>"required/>
					<label class="input-label"> Genre </label>
					</div>
				<div class="input">
					<input name="artist" class="input-field" type="text" value="<%= artist%>" required/>
				<label class="input-label"> Artists </label>
				</div>
				</div>
				<%}else{%>
					<div class="input">
						<input name="name" class="input-field" type="text" value="<%= name %>" required/>
						<label class="input-label"> Plan Name </label>
						</div>
						<div class="input">
							<input name="price" class="input-field" type="number" value="<%= price %>" required/>
							<label class="input-label"> Pricing </label>
						</div>
						<div class="rad">
							<div class="sub-rad">
								<label class="main-lab"> Downloads </label><br>

								<input name="downloads" class="inp-field" id="inlineRadio1" type="radio" value="Unlimited" >  
								<label class="inp-lab" for="inlineRadio1">Unlimited</label>

								<input name="downloads" class="inp-field" id="inlineRadio2" type="radio" value="Limited" >  
								<label  class="inp-lab" for="inlineRadio2">Limited</label>
							</div>
							<div class="sub-rad">
								<label class="main-lab">Audio Quality</label>
								<br>
		
									<input name="quality" class="inp-field" id="inlineRadio3" type="radio" value="Medium" />  
									<label class="inp-lab" for="inlineRadio3">Medium</label>
									<input name="quality" class="inp-field" id="inlineRadio4" type="radio" value="High" required/>  
									<label class="inp-lab" for="inlineRadio4">High</label>
							</div>

						</div>
						
						<div class="input">
							<input name="duration" class="input-field" type="number" value="<%= duration %>" required/>
							<label class="input-label"> Duration </label>
						</div>
						<div class="input">
							<input name="devices" class="input-field" type="number" value="<%= devices%>" required/>
							<label class="input-label"> Devices </label>
						</div>
				<%}%>
				<div class="action">
					<button type="submit" class="action-button" value="Add">Submit</button>
				</div>
			</form>
	</div>
</div>

<%- include ../layouts/footer.ejs %>


<!--
						--->