<%- include ../layouts/header.ejs %>
<header>
  <nav class="nav-area">
    <li ><a href="/users/<%=u_id%>">Home</a></li>|
    <li>Upgrade Plan</li> 
  </nav>
</header>
<div id="plan-body">
<%if(data!= ""){%>
<section class="price-comparison">
  <% data.forEach(function(record){ %>
    <div class="price-column">
      <div class="price-header">
        <div class="price" name="plan_id">
          <div class="dollar-sign">₹</div>
          <%=record.price%>
          <div class="per-month">/<%=record.duration%>mo</div>
        </div> 
        <p id="plan_name" class="plan-name"><%=record.name%></p>
      </div>
      <div class="divider"></div>
     <div class="feature">
            <i class="fas fa-check"></i>
          Ad free songs
        </div>
        <div class="feature">
            <i class="fas fa-check"></i>
            <%=(record.downloads === "Limited")? "Limited": "Unlimited" %>
            songs to download
        </div>
        <div class="feature">
          <i class="fas fa-check"></i>
          <%=(record.quality === "Medium")? "Medium": "High" %> Quality Audio
        </div>
        <div class="feature ">
          <i class="fas fa-check"></i>
          Upto <%=record.devices%> device per user
        </div>   
      <button id="<%=record.name%>" type="submit" class="cta" name="btn">GET PLAN</button>
    </div>
    <%})}else{%>
      No plans :(
        <%}%>
</section>
</div> 
 <script >
  $('button').click(function(){
      var plan = $(this).attr('id')
      $.ajax({
        'type': 'post',
        'data': {'name': plan},
        'url': '/users/upgrade/<%=u_id%>',
        success: function(response) {
         if (response.result == 'redirect') window.location.replace(response.url);
          }
      })
    });
 </script>
</body>
</html>