<%- include ../layouts/header.ejs %>
<header>
	<nav class="nav-area">
		<li><a href="/users/<%=u_id%>">Home</a></li>|
		<li>Create Playlist</li>|
		<li ><a href="/users/view_playlist/<%=u_id%>">All PlayLists</a></li>
	</nav>
</header>

<div id="play_div">
<form action="/users/create/<%=u_id%>" method="post">
	<h1>Playlist</h1>
<input type="text" id="play_id" name="play_name"><br>
<button style="border: none;"class="btn-area ">Create</button>
</form>
</div>

<%- include ../layouts/footer.ejs %>
